@using X.PagedList.Mvc.Core
@using TTTN3.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model X.PagedList.IPagedList<color>

@{
    ViewData["Title"] = "List color";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh sách màu sắc</h1>

<p>
    <a asp-action="Create_Color">Thêm mới </a>
</p>
<div class="row">
    <div class="col-6">
        @using (Html.BeginForm("List_Color", "Color", FormMethod.Get, new { }))
        {
            <div class="input-group input-group-sm">
                @Html.TextBox("SearchText", null, new { @class = "form-control" })
                @*<input type="text" name="searchtext" class="form-control" />*@
                <span class="input-group-append">
                    <button type="submit" class="btn btn-info btn-flat">Tìm</button>
                </span>
            </div>
        }
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Mã
            </th>
            <th>
                Màu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @{
            var i = 0;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @((Model.PageNumber - 1) * Model.PageSize + i + 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.color_Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.color_Name)
                </td>
                <td>
                    <a asp-action="Edit_Color" asp-route-color_Code="@item.color_Code">Sửa</a> |
                    <a asp-action="Delete_Color" asp-route-color_Code="@item.color_Code">Xóa</a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("List_Color", new { page = page, SearchText = ViewData["SearchText"] }),
                                new X.PagedList.Web.Common.PagedListRenderOptions()
                            {
                                LiElementClasses = new List<String> { "page-item" },
                                PageClasses = new List<String> { "page-link" }
                            })