@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TTTN3.Models.blog

@{
    ViewData["Title"] = "Tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Chi tiết tin tức</h1>

<div>
    <h4>Tin tức</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tiêu đề
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.blog_Title)
        </dd>
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.alias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.alias)
        </dd> *@
        
        <dt class = "col-sm-2">
            Ảnh đại diện
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content("~/Images/Blog/" + Model.blog_Image)" alt="@Model.blog_Title" style="max-width: 100px; max-height: 100px;" />

        </dd>
        <dt class = "col-sm-2">
            Ngày tạo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.blog_Date)
        </dd>
        <dt class="col-sm-2">
            Chi tiết
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.blog_Detail)
        </dd>
    </dl>
<div>
    <a asp-action="Edit_Blog" asp-route-blog_Code="@Model?.blog_Code" asp-controller="Blog" asp-area="Admin">Sửa</a> |
    <a asp-action="List_Blog" asp-area="Admin" asp-controller="Blog">Danh sách</a>
</div>
</div>
    @* <form method="post" asp-action="Delete_BlogConfirmed" asp-route-brand_Code="@ViewBag.BlogCode" id="deleteForm">
        @Html.AntiForgeryToken()
        <button id="deleteButton" type="button" class="btn btn-danger">Delete</button>
        <a asp-action="List_Blog" class="btn btn-secondary">Cancel</a>
    </form>

<script>
    // JavaScript to handle the confirmation
    document.getElementById("deleteButton").addEventListener("click", function () {
        var confirmed = confirm("Are you sure you want to delete this brand?");
        if (confirmed) {
            document.getElementById("deleteForm").submit();
        }
    });
</script> *@