@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TTTN3.Models.blog

@{
    ViewData["Title"] = "Xóa tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Xác nhận</h1>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tiêu đề
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.blog_Title)
        </dd>
        @*  <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.alias)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.alias)
        </dd> *@

        <dt class="col-sm-2">
            Ảnh đại diện
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content("~/Images/Blog/" + Model.blog_Image)" alt="@Model.blog_Title" style="max-width: 100px; max-height: 100px;" />

        </dd>
        <dt class="col-sm-2">
            Ngày tạo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.blog_Date)
        </dd>
        <dt class="col-sm-2">
            CHi tiết
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.blog_Detail)
        </dd>
    </dl>
</div>
<form method="post" asp-action="Delete_BlogConfirmed" asp-route-blog_Code="@ViewBag.BlogCode" id="deleteForm">
        @Html.AntiForgeryToken()
        <button id="deleteButton" type="button" class="btn btn-danger">Xóa</button>
        <a asp-action="List_Blog" class="btn btn-secondary">Hủy</a>
</form>

<script>
    // JavaScript to handle the confirmation
    document.getElementById("deleteButton").addEventListener("click", function () {
        var confirmed = confirm("Bạn chắc chắn muốn xóa?");
        if (confirmed) {
            document.getElementById("deleteForm").submit();
        }
    });
</script>